In [ ]:
# Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
# Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#  Insert a markdown cell to list Objectives below introduction (from excercise 3)

**Objectives:**
- Create a Jupyter Notebook
- List common languages for data science
- List common libraries used by data scientists
- Insert code and markdown cells
- Execute ordered list/unordered list or tables in markdown cells
- Execute arithmetic operations in codes
- Share your notebook through GitHub

In [ ]:
# Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL
4. Java
5. Julia
6. C++

In [ ]:
#Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. NumPy
3. Pandas
4. Matplotlib
5. Keras

In [ ]:
# Create a markdown cell with a table of Data Science tools

| Data Science tools | 
| -------------| 
| IBM Watson Studio| 
| IBM Cognos Dashboard Embedded |

In [ ]:
# Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
# Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200//60

3

In [ ]:
# Create a markdown cell to indicate the Author's name

## Author
Gautam E Unni